.main {
    padding-top: 20px;
}

.info-bar {
    position: fixed;
}

rect.await {
    fill: #767676;
}
rect.done {
    fill: #21BA45;
}
rect.progress {
    fill: #F2711C;
}
rect.fail {
    fill: #DB2828;
}
rect.select {
    stroke: #2185D0;
    stroke-width: 5;
}

svg text {
    pointer-events: none;
    user-select: none;
    fill: white;
}

svg rect:hover {
    cursor: pointer;
}
