html, body {
    height: 100%;
    width: 100%;
}
.main {
    padding-top: 20px;
}

.info-bar {
    position: fixed;
}

svg.workflow rect.await {
    fill: #767676;
}
svg.workflow rect.done {
    fill: #21BA45;
}
svg.workflow rect.progress {
    fill: #F2711C;
}
svg.workflow rect.fail {
    fill: #DB2828;
}
svg.workflow rect.select {
    stroke: #2185D0;
    stroke-width: 5;
}

svg.workflow text {
    pointer-events: none;
    user-select: none;
    fill: white;
}

svg.workflow rect:hover {
    cursor: pointer;
}
